/* Animate background gradient to shift on hover */

.animated-button {

    /* Define the initial gradient (starting point) */
    /* Replace #color1 and #color2 with your desired colors */
    background-size: 200%;
    background-position: 0 50%;
}

.animated-button:hover {
    animation: animate-gradient 3s ease normal forwards;
}

@keyframes animate-gradient {
    from { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    to { background-position: 0 50%; } /* Return to starting position */
}

.animated-background {
    background-size: 300%;
    background-position: 0 50%;

    animation: animate-gradient 10s ease-in-out infinite;
}


